<div>
  <div>
    <h1>Example - Todo Manager</h1>
    <hr/>
    <h3>Login - This section connects your code to a Back& app</h3>
    <div>
      <label>App Name:</label>
      <input type="text" ng-model="start.appName" placeholder="Your Backand app name" title="If tou do not have an app, please sign up to backand.com and create one.">
      <label class="pure-u-1-12" title="If you do not have an app, please sign up to backand.com and create one.">(?)</label>
    </div>
    <div>
      Username
      <input type="text" ng-model="start.username" placeholder="Your Backand username">
    </div>
    <div>
      Password
      <input type="password" ng-model="start.password" placeholder="Your Backand password">
    </div>
    <br/>
    <div>
      <button ng-click="start.signin()" ng-if="!start.isLoggedIn">Sign In</button>
      <button ng-click="start.signout()" ng-if="start.isLoggedIn">Sign Out</button>
      <a href="https://www.backand.com/apps/#/sign_up" target="_blank"> ---> I need a Back& app</a>
    </div>
    <br/>
    <label>Status: {{start.results}}</label>
    <hr/>
    <h3 ng-if="!start.isLoggedIn">List of Tables - Example of using configuration API (Must Sign In first)</h3>
    <h3 ng-if="start.isLoggedIn">List of Tables - Example of using configuration API</h3>
    <select class="form-control" ng-options="table.name as table.name for table in start.tables" ng-model="start.tableSelected" ng-model-options="{debounce:{default:100}}" ng-change="start.loadTableData()">
      <option value="">Select a table</option>
    </select>
    <hr/>
    <h3>Table Grid - Example of using data API</h3>
    <pre>{{start.tableData | json}}</pre>
  </div>
</div>
<div class="container">
  <a href="" ng-click="vm.logout()">Log out</a>
  <h2>My todos</h2>
  <!-- Todos input -->
  <form role="form" ng-submit="vm.addTodo()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="vm.todo" placeholder="What needs to be done?" class="form-control">
        <span class="input-group-btn">
                  <input type="submit" class="btn btn-primary" value="Add" ng-disabled="!vm.todo">
                </span>
      </div>
    </div>
  </form>
  <p></p>
  <!-- Todos list -->
  <div>
    <p class="input-group" ng-repeat="todo in vm.todos | orderBy:'-Id'" style="padding:5px 10px; cursor: move;" ng-class="{'todo-completed': todo.completed}">
      <span class="input-group-btn">
                <button class="btn"><input type="checkbox" class="btn btn-primary" ng-model="todo.completed" ng-click="vm.updateTodo(todo)"></button>
            </span>
      <input type="text" ng-disabled="todo.completed" ng-model="todo.description" ng-change="vm.updateTodo(todo)" ng-model-options="{updateOn: 'blur'}" class="form-control">
      <span class="input-group-btn">
                <button class="btn btn-danger" ng-click="vm.removeTodo(todo)" aria-label="Remove">X</button>
            </span>
    </p>
  </div>
</div>
